@using WebPhoneBook_2._0.AuthPersonApp
@model UserRegistration
@{
    if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        ViewData["Title"] = "Добавление нового пользователя";
    }
    else
    {
        ViewData["Title"] = "Регистрация";
    }
    
}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 well">
            <h3 class="text-center">Регистрация</h3>

            <form asp-action="Register" asp-antiforgery="true" class="form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @{
                    if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <input asp-for="IsAdmin" type="hidden" value="true"/>
                    }
                    else
                    {
                        <input asp-for="IsAdmin" type="hidden" value="false" />
                    }
                }
                <div class="col-xs-12">
                    <div class="form-group">
                        <input asp-for="LoginProp" class="form-control" placeholder="Логин" />
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="form-group">
                        <input asp-for="Password" class="form-control" placeholder="Пароль" />
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="form-group">
                        <input asp-for="ConfirmPassword" class="form-control" placeholder="Продублируйте пароль" />
                    </div>
                </div>

                <div class="text-center col-xs-12">
                    <button type="submit" class="btn btn-default">Зарегистрироваться</button>
                </div>
            </form>

        </div>
    </div>
</div>
