
<div class="text-center">
    <h1 class="display-4">Добавление нового контакта</h1>
</div>

<div class="person">
        
        <form action="~/Book/AddNewPerson" method="post">
            <p>Фамилия:</p>       <input type="text" name="LastName" /><br />
            <p>Имя: </p>          <input type="text" name="Name" /><br />
            <p>Отчество</p>       <input type="text" name="MiddleName" /><br />
            <p>Номер телефона:</p><input type="text" name="PhoneNumber"/><br />
            <p>Адрес: </p>        <input type="text" name="Address"/><br />
            <p>Описание: </p>     <input type="text" name="Description" /><br /><br />
            <p><input type="submit" value="Добавить" /></p>
        </form>
   
@*    <p>@Model.Person.PhoneNumber</p>
    <p>Адрес: @Model.Person.Address</p>
    <p>Описание: @Model.Person.Description</p>*@
</div>